In [2]:
import pandas as pd

In [5]:
data = pd.read_excel("data.xlsx",
                    usecols=["input","output"])
data

   input  output
0      1       2
1      2       4
2      3       6
3      4       8
4      5      10
5      6      12
6      7      14
7      8      16
8      9      18
9     10      20

In [9]:
X, Y = data.input.values , data.output.values
print(X)
print(Y)

[ 1  2  3  4  5  6  7  8  9 10]
[ 2  4  6  8 10 12 14 16 18 20]

In [26]:
training_ratio = 40

In [27]:
print("Training Ratio, get index", int(len(data)*training_ratio/100))

Training Ratio, get index 4

In [28]:
X_train = X[ :int(len(data)*training_ratio/100)]#start-7index-1
Y_train = Y[ :int(len(data)*training_ratio/100)]#start-7index-1


X_test = X[int(len(data)*training_ratio/100): ]#7index - endindex
Y_test = Y[int(len(data)*training_ratio/100): ]#7index - endindex

print("Training X:",X_train,"Y:",Y_train)
print("Testing X",X_test,"Y",Y_test)

Training X: [1 2 3 4] Y: [2 4 6 8]
Testing X [ 5  6  7  8  9 10] Y [10 12 14 16 18 20]

# data spliting for ML model (Ratio)
* 70% for training 30% for testing
* 80% for training 20% for testing
* 60% for training 40% for testing

* 60% for training, 20% validation, 20% for Testing

# Train and test data distribution with sklearn library

In [30]:
data.head()

   input  output
0      1       2
1      2       4
2      3       6
3      4       8
4      5      10

In [35]:
X = data['input'].values
Y = data['output'].values

X

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [36]:
Y

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
train_test_split(X,Y,
                test_size=0.3)

[array([ 8, 10,  5,  4,  1,  6,  3]),
 array([7, 2, 9]),
 array([16, 20, 10,  8,  2, 12,  6]),
 array([14,  4, 18])]

In [39]:
train_test_split(X,Y,
                test_size=0.3, shuffle=False)

[array([1, 2, 3, 4, 5, 6, 7]),
 array([ 8,  9, 10]),
 array([ 2,  4,  6,  8, 10, 12, 14]),
 array([16, 18, 20])]

In [40]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,
                                                    test_size=0.3, 
                                                    shuffle=False)

print(X_train)
print(X_test)
print(Y_train)
print(Y_test)

[1 2 3 4 5 6 7]
[ 8  9 10]
[ 2  4  6  8 10 12 14]
[16 18 20]

In [41]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,
                                                    test_size=0.3, 
                                                    shuffle=True)

print(X_train)
print(X_test)
print(Y_train)
print(Y_test)

[ 2  7  9  3  1 10  6]
[5 8 4]
[ 4 14 18  6  2 20 12]
[10 16  8]

# K Fold cros validation (Home work)

In [ ]:
my name is Qasim
Qasim is name my
my is Qasim name